export PATH=/Users/crdant/workspace/demos/spring-cloud-gateway-demo/bin:/usr/local/bin:/usr/bin:/bin:/usr/sbin:/sbin:/usr/local/share/dotnet:~/.dotnet/tools:/Applications/Wireshark.app/Contents/MacOS:/Users/crdant/.rbenv/shims:/usr/local/opt/gettext/bin:/usr/local/opt/miniconda2/bin:/Users/crdant/bin:/usr/local/lib/go/bin:/opt/elb/bin:/opt/ec2/bin:/Developer/usr/bin:/usr/local/sbin:/Developer/Tools:/opt/local/share/java/apache-ant/bin:/usr/local/opt/glassfish/libexec/bin
